{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container profile-info">
        <h2 id="username" data-username="{{ user_info.username }}">{{ user_info.username }}</h2>
        <div class="row">
            <div class="col-4"><strong>{{ user_info.posts }}</strong> post{{ user_info.posts|pluralize }}</div>
            <div class="col-4"><strong>{{ user_info.followers }}</strong> follower{{ user_info.followers|pluralize }}</div>
            <div class="col-4"><strong>{{ user_info.following }}</strong> following</div>
        </div>
        {% if user.is_authenticated and not me %}
            <a class="btn btn-sm btn-outline-secondary" data-username="{{ user_info.username }}" href="javascript:void(0);" id="toggle-follow">
                {% if followed %}
                    Unfollow
                {% else %}
                    Follow
                {% endif %}
            </a>
        {% endif %}
        
    </div>
    <h3>Posts</h3>
    <div id="posts-view"></div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}