body {
    padding: 10px;
}

.card {
    margin-top: 10px;
}

.btn-tiny {
    padding: 2px 2px;
    font-size: 12px;
    font-weight: bold;
}

.listing-img {
    width: 600px;
    height: auto;
    margin: 20px 20px;
}

.closed {
    color: red;
    font-width: bold;
}
