.body {
    padding: 20px;
}

.block {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 5px;
}

.profile-info {
    margin-bottom: 100px;
}

.pagination {
    margin-top: 10px;
}

.pagination > nav {
    margin: auto;
}

.fa-heart, .fa-heart-o {
    color: red;
    margin-right: 5px;
}